:root {
    --background-color: #fff0d1; 
    --text-color: #614646; 
    --primary-color: #795757; 
    --secondary-color: #664343;
    --accent-color: #FF6F61; /* Accent color for highlights */
}

* {
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
    text-transform: capitalize;
}

body {
    background-color: var(--background-color);
    line-height: 1.6; /* Improve readability */
    overflow: hidden;
}
/*lottie players*/
.player-1{
    position: absolute;
    width: 500px;
    top:40%;
}
.player-2{
    position: absolute;
    width: 400px;
    top:-10%;
    left:70%;
}
/*popup container*/
.pop_up_container{
    z-index: 999;
    position: absolute;
    background-color: white;
    width: 100%;
    height: 120vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pop_up_container div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 1.2rem;
    font-weight: 500;
    text-align: center;
}
.pop_up_container div button{
    margin: 10px;
    font-size: 1.2rem;
    padding: 10px 20px;
    border-radius: 10px;
    border:none;
    box-shadow: 2px 2px black;
}

/* container 1 styling */
.sub_container {
    width: 100%;
    height: 100vh;
}

.container-1 {
    display: flex;
    justify-self: center;
    align-items: center;
    position: relative;
}

.header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
    flex-direction: column;   
}

.title {
    font-size: 6rem;
    font-weight: bold;
    color: var(--text-color);
    margin-bottom: 10px;
    letter-spacing: 2px;
    transition: color 0.3s ease; /* Smooth transition on hover */
    border-bottom: 2px solid var(--accent-color); /* Adding bottom border */
    padding-bottom: 10px;
}

.title:hover {
    color: var(--accent-color); /* Accent color on hover */
}

.sub-title {
    font-size: 2rem;
    font-weight: 600;
    color: var(--text-color);
}

.timer {
    font-size: 5rem;
    font-weight: 500;
    color: white;
    text-shadow: 
        0 0 2px var(--primary-color),
        0 0 5px var(--primary-color),
        0 0 10px var(--primary-color),
        0 0 20px var(--primary-color),
        0 0 20px var(--primary-color),
        0 0 30px var(--primary-color);
    text-align: center;
}

/* container 2 styling */

.container-2 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container-2 .title {
    font-size: 2.5rem;
    color: var(--text-color);
    transition: color 0.3s ease;
    border-bottom: 2px solid var(--primary-color); /* Border to highlight the section */
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.container-2 .title:hover {
    color: var(--accent-color);
}

/* card component styling */

.card-front p {
    font-size: 3rem;
    color: var(--background-color);
    font-weight: bold;
}

.card-container {
    perspective: 1000px; /* Perspective to give 3D depth */
    margin: 50px;
}

.card {
    width: 400px;
    height: 500px;
    position: relative;
    transform-style: preserve-3d; /* Ensure child elements are transformed in 3D space */
    transition: transform 0.8s ease, box-shadow 0.3s ease; /* Smooth transition */
    padding: 10px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
    border: 2px solid var(--primary-color);
    border-radius: 15px;
}

.card:active {
    transform: rotateY(180deg); /* Flip the card on hover */
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2); /* Add shadow on hover */
}

.card-front, .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden; /* Hides the face of the card that's not in view */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    color: white;
    border-radius: 10px;
    flex-wrap: wrap;
    padding: 10px;
    transform-style: preserve-3d; /* Ensures 3D child elements are preserved */
}

.card-front {
    background-color: var(--primary-color);
    text-align: center;
}

.card-back {
    background-color: var(--secondary-color);
    transform: rotateY(180deg); /* Flip the back side of the card */
    flex-direction: column;
    text-align: center;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.3); /* Shadow for depth */
    border: 2px solid var(--secondary-color); /* Adding border */
}


.card-back img {
    width: 80%;
    border-radius: 15px;
    object-fit: cover;
    object-position: center;
}

.card-back p {
    font-weight: bold;
}

.card-back p span {
    font-weight: bold;
    font-size: 1rem;
}

/* container 3 styling */
.container-3 {
    margin: 20px;
    padding: 15px;
    width: 500px;
    background-color: var(--primary-color);
    color: var(--text-color);
    border-radius: 20px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2); /* Subtle shadow */
    border: 2px solid var(--secondary-color); /* Adding border for definition */
}

/* container 4 styling */
.container-4{
    display: flex;
    justify-self: center;
    align-items: center;
    flex-direction: column;
}

.last_par {
    font-size: 3rem;
    text-align: center;
    border-top: 2px solid var(--accent-color); /* Adding top border */
    padding-top: 10px;
}

/*scroll animation*/
/* Define fade-in animation */
@keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translateY(20px); /* Optional: Slight upward movement */
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  /* Elements initially hidden */
  .scroll-animate {
      opacity: 0;
      transform: translateY(20px); /* Slight upward movement */
      transition: opacity 0.5s ease-out, transform 0.5s ease-out;
  }
  
  /* Animation when in view */
  .scroll-in-view {
    opacity: 1;
    transform: translateY(0); /* Back to initial position */
    animation: fadeIn 1s linear; /* linear timing function */
    animation-fill-mode: forwards; /* Keeps the end state after the animation finishes */
}
.poem_tag span{
    visibility: hidden;
    font-family: 'EB Garamond';
    font-style: italic;
    font-weight: bold;
}
.dialer{
    padding: 10px 20px;
    background-color: white;
    color: black;
    border: none;
    box-shadow: 2px 2px black;
    font-size: 1.2rem;
    border-radius: 20px;
    margin-bottom: 20px;
    font-weight: 500;
}

/* Define fade-in animation */
@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

  

/* Responsiveness */

@media (max-width: 768px) {
    .title {
        font-size: 3.5rem;
        flex-wrap: wrap;
        text-align: center;
        margin: 0px 15px ;
    }
    .sub-title {
        text-align: center;
        font-size: 1.5rem;
    }
    #timer {
        font-size: 2.5rem;
    }
    .card {
        width: 200px;
        height: 300px;
    }
    
    .card-front p {
        font-size: 2rem;
    }
    .card-back p {
        font-size: 0.9rem;
        text-align: center;
    }
    .card-back p span {
        font-size: 0.5rem;
    }
    .card:hover {
        transform: rotateY(180deg); /* Flip the card on hover */
        box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2); /* Add shadow on hover */
    }
    .container-3 {
        width: 300px;
    }
    .last_par {
        font-size: 2rem;
    }
    .timer {
        font-size: 2rem;
    }
    .player-1{
        position: absolute;
        width: 200px;
        top:40%;
        left: -5%;
    }
    .player-2{
        position: absolute;
        width: 200px;
        top:10%;
        left:40%;
    }
    .card-container{
        margin: 15px;
    }
}
